.about-us {
    margin-top: 60px;

    &-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.21);

        &-image {
            position: relative;

            &:after {
                @include RectangleDropShadow
            }
        }
      
        &-main-text {
            grid-row: 1 / 1;
            align-self: center;
            justify-self: center;
            padding: 20px;
        }
    }

}

@include atSmall {

    .about-us {
    
        &-content {

            &-main-text {
                padding: 80px;
            }

        }    
    
    }

}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px) {

    .about-us {
        margin-top: 100px;
    
        &-grid {
            display: grid;
            //grid-template-columns: 1fr;
        }
    
        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.21);
    
            &-image {
                position: relative;
    
                &:after {
                    content: '';
                    background-image: none;
                }
            }
        }
    }
}

@include atLarge {

    .about-us {
        margin-top: 160px;
    
        &-grid {
            grid-template-columns: repeat(12, 1fr);
        }
    
        &-content {
            grid-column: 2 / 12;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            width: 100%;
            box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.21);
          
            &-image {
                grid-column: 1 / 5;
                height: 100%;
            }
    
            &-main-text {
                grid-column: 5 / 11;
                align-self: center;
                justify-self: center;
                
            }
        }
        
    }

}