.percentage {
    margin-top: 60px;

    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 26px;
    }
    

    &-card-1 {
        width: 100%;
        position: relative;
    
    }

    &-card-2 {
        width: 100%;
        position: relative;
        
    }

    &-text {
        position: absolute;
        background-color: $primary;
        top: 0;
        left: 10px;
        width: 105px;
        height: 120px;
        text-align: center;
    }

    &-text-alt {
        position: absolute;
        background-color: $primary;
        bottom: 0px;
        left: 10px;
        width: 105px;
        height: 120px;
        text-align: center;
    }

}

.sales-percentage {
    font-family: $font-title;
    font-size: 2em;
    color: $white;
    margin: 14px 0 0;
    max-width: 130px;
}

.sales-text {
    font-size: 1.25em;
    font-family: $font-title;
    margin: 14px 0 0;
    color: $secondary;
    max-width: 130px;
}

@include atSmall {

    .percentage {
        margin-top: 160px;
    
        &-grid {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 26px;
        }

        &-card-1 {
            width: 100%;
            position: relative;
            grid-column: 1 / 7;
        }
    
        &-card-2 {
            width: 100%;
            position: relative;
            grid-column: 7 / 13;
        }
    }
}

@include atLarge {

    .percentage {
        margin-top: 160px;
    
        &-grid {
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 26px;
        }

        &-card-1 {
            width: 100%;
            position: relative;
            grid-column: 2 / 7;
        }
    
        &-card-2 {
            width: 100%;
            position: relative;
            grid-column: 7 / 12;
        }

        &-text {
            position: absolute;
            background-color: $primary;
            top: 0;
            left: 40px;
            width: 210px;
            height: 210px;
            text-align: center;
        }

        &-text-alt {
            position: absolute;
            background-color: $primary;
            bottom: 0px;
            left: 40px;
            width: 210px;
            height: 210px;
            text-align: center;
        }
    }

    .sales-percentage {
        font-family: $font-title;
        font-size: 5em;
        color: $white;
        margin: 14px 0 0;
        max-width: none;
    }

    .sales-text {
        font-size: 2em;
        font-family: $font-title;
        margin: 14px 0 0;
        color: $secondary;
        max-width: none;
    }

}