.btn{
  color:$secondary-color;
  border-radius:0px;
}

.btn-blue{
  @include button-bg($secondary-color, #fff, $secondary-color,  #fff , $secondary-color, $secondary-color,  $secondary-color, #fff, #fff);
  font: 500 13px $main-font;
  text-transform: uppercase;
  padding: 10px 48px;
  border-radius:0px;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.btn-blue + .btn-trans{
  margin-left: 20px;
}

.btn-blue + .btn-blue{
  margin-left: 20px;
}

.btn-trans + .btn-trans{
  margin-left: 20px;
}

.btn-trans{
  @include button-bg(#fff, $secondary-color, $secondary-color,  $secondary-color, #fff, $secondary-color,  $secondary-color, $secondary-color, $secondary-color);
  font: 500 13px $main-font;
  text-transform: uppercase;
  padding: 10px 48px;
  border-radius:0px;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  text-decoration: none;
}

@media (max-width: 575px) {
  .btn-blue, .btn-trans{
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-blue + .btn-trans{
    margin-left: 0px;
  }

  .block-hero{
    .btn-blue, .btn-trans {
      width: 100%;
      margin: 0 auto 10px auto;
      margin-bottom: 10px;
      display: block;
      float: none;
    }
  }

  .articleContainer{
    .btn-blue, .btn-trans {
      width:80%;
    }
  }
}